
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

header {
  margin: 0;
  background-color: #dddd;
  display: flex;
  width: 100%;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: #000 solid thin; 
  box-shadow: #000;
  background-color: #dddd;
}

.form-step {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: space-around;
  transition: all 0.1s ease-in-out;
}

.choose-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-side {
  display: flex;
}

.cross-button {
  display: flex;
  background: url(./../assets/icon-cross.svg);
  background-repeat: no-repeat;
  width: 4.5rem;
  height: 4.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
  
.circle-button {
  display: flex;
  background: url(./../assets/icon-circle.svg);
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

/* .cross-button:hover, .circle-button:hover {
  transform: scale(1.05);
} */

.hide-element {
  display: none;
  transition: all 0.1s ease-in-out;
}