@font-face {
  font-family: standardFont;
  src: url('./../assets/dilo-word.ttf');
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  font-family: standardFont, sans-serif;
  background: rgb(26, 26, 26);
  background-repeat: no-repeat;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  text-align: center;
  line-height: 6rem;
  background-image: linear-gradient(110.1deg, rgb(241, 115, 30) 18.9%, rgb(231, 29, 54) 90.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke: 0.100rem #ffff;
  -moz-text-stroke: 0.100rem #ffff;
  font-family: standardFont;
}

h3 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

h4 {
  font-size: 1.2rem;
}

header {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.game-h1 {
  padding: 0 1rem 0 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 2%;
  border: solid #fff;
  box-shadow: rgba(0, 0, 0, 0.29) 0 0.188rem 0.313rem;
  text-shadow: rgba(0, 0, 0, 0.5) 0.188rem 0.300rem;
  background: rgb(34, 34, 34);
  color: #fff;
}

.standard-input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #fff;
  background-color: #7e7e7e1a;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-family: standardFont;
  text-shadow: rgba(0, 0, 0, 0.5) 0.188rem 0.180rem;
  border: none;
  height: 2rem;
  width: 100%;
}

.standard-input:hover {
  background-color: #c2c2c21a;
}

.form-step {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: space-around;
  transition: all 0.1s ease-in-out;
}

.icon-forward {
  width: 1.5rem;
}

.submit-button {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  font-family: standardFont;
  transition: all 0.1s ease-in-out;
  background-color: #7e7e7e1a;
  text-shadow: rgba(0, 0, 0, 0.5) 0.188rem 0.300rem;
  border: 0;
}

.submit-button:hover {
  transform: scale(1.05);
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  color: #fff;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-name {
  padding-bottom: 1rem;
}

.icon-git {
  width: 3rem;
  padding-left: 1rem;
  transition: all 0.2s ease-in-out;
}

.icon-git:hover {
  transform: scale(1.08);
}

.hide-element {
  display: none;
  transition: all 0.1s ease-in-out;
}